<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>윈럭스</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<!--J 쿼리 사용 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">윈럭스</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Pages Collapse Menu -->
            <%-include('./siderbar.ejs')%>

           
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>




                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3" style="display: flex;">
								
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th>no</th>
											<th>가공날짜</th>
                                            <th>제직처</th>
											<th>생직/임직</th>
                                            <th>품명</th>
                                            <th>컬러</th>
                                            <th>제직 및 절포 날짜</th>
                                            <th>기계호기</th>
                                            <th>생지폭</th>
											<th>가공폭</th>
											<th>생지수량</th>
											<th>단위</th>
											<th>가공수량</th>
											<th>비고</th>
											<th></th>
                                        </tr>
                                    </thead>
                                    <tbody id = "ex_tbody">
										<%for(var i = 0; i<row.length; i++){%>
										
											<%if(row[0].no == 'x'){%>
												<tr>
													<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
												</tr>
											<%} else{%>
											<tr>
												<td><%=i+1%></td>
												<td><input class="form-control" style="" type='date' id='work_date_<%=row[i].no%>' onchange="" value='<%=row[i].manufacturing_time%>'<%if(row[i].state>2){ %>disabled<% }%>/></td>
												<td><%=row[i].client%></td>
												<td><%=row[i].s_and_l%></td>
												<td><%=row[i].item%></td>
												<td><%=row[i].color%></td>
												<td><%=row[i].dateTime%></td>
												<td><%=row[i].machine_no%></td>
												<td style = 'text-align: center; width: 5%;'><input class="form-control" id ="op_width_1_<%=row[i].no%>" value="<%=row[i].op_width_1%>" <%if(row[i].state>2){ %>disabled<% }%>></td>
												<td style = 'text-align: center; width: 5%;'><input class="form-control" id ="op_width_2_<%=row[i].no%>" value="<%=row[i].op_width_2%>" <%if(row[i].state>2){ %>disabled<% }%>></td>
												<td style = 'text-align: center; width: 5%;'><%=row[i].qty%></td>
												<td style = 'text-align: center; width: 5%;'><input class="form-control" id ="unit_<%=row[i].no%>" value="<%=row[i].unit%>" <%if(row[i].state>2){ %>disabled<% }%>></td>
												<td style = 'text-align: center; width: 5%;'><input class="form-control" id ="manufacturing_qty_<%=row[i].no%>" value="<%=row[i].manufacturing_qty%>" <%if(row[i].state>2){ %>disabled<% }%>></td>
												<td style = 'text-align: center; width: 5%;'><input class="form-control" id ="etc_<%=row[i].no%>" value="<%=row[i].etc%>" <%if(row[i].state>2){ %>disabled<% }%>></td>

												<%if(row[i].state >= '3'){%>
													<td style = 'text-align: center;'><button class="form-control" onclick='examination_save(<%=row[i].no%>)' disabled>완료</button></td>
												<%} else if(row[i].state == '2'){%>
													<td style = 'text-align: center;'><button class="btn-primary form-control" onclick='examination_save(<%=row[i].no%>)'>등록</button></td>
												<%}%>

											</tr>
											<%}%>
										<%}%>
                                        
                                    </tbody>
                                </table>
								<div style="text-align:-webkit-right; margin-top:1%;">
									<!-- <button class="btn-primary form-control" onclick='ex_tbody_add()' style="width: 5%;">추가</button>	 -->
								</div>
								
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
	<script src="/js/main_contents.js"></script>
</body>

</html>


<script>
	
	function examination_save(no){
		
			let submit_args = '';
			submit_args += commonFunc.makeArgs("no", no);
			submit_args += commonFunc.makeArgs("work_date", $(`#work_date_${no}`).val());
			submit_args += commonFunc.makeArgs("client", $(`#client_${no}`).val());
			submit_args += commonFunc.makeArgs("op_width_1", $(`#op_width_1_${no}`).val());
			submit_args += commonFunc.makeArgs("op_width_2", $(`#op_width_2_${no}`).val());
			submit_args += commonFunc.makeArgs("unit", $(`#unit_${no}`).val());
			submit_args += commonFunc.makeArgs("manufacturing_qty", $(`#manufacturing_qty_${no}`).val());
			submit_args += commonFunc.makeArgs("etc", $(`#etc_${no}`).val());
			
			const ret = commonFunc.postArgs("/examination_save", submit_args);
			if(ret == 'y'){
				alert('등록 완료');
				location.href='/examination_log';
			}
	}
	
	
	function ex_tbody_add(){
		$("#ex_tbody").append(`
		<tr>
												<td></td>
												<td><input class="form-control" style="" type='date' id='work_date_add' onchange="" value=''/></td>
												<td><input class="form-control" style="" type='input' id='client_add' onchange="" value=''/></td>
												<td><input class="form-control" style="" type='input' id='s_and_l_add' onchange="" value=''/></td>
												<td style = 'text-align: center;'>
															<select onchange="selectNum()" class="form-control" id ="work_op_item">
																<option value="" selected disabled></option> 
																<%for(var j = 0; j<item.length; j++){ %>
																	<option value="<%=item[j].item%>"><%=item[j].item%></option>
																 <%}%>
																
															</select>
														</td>
														<td style = 'text-align: center;'>
															<select class="form-control" id ="work_op_color">
																<option value="" selected disabled></option>
															</select>
														</td>
												<td><input class="form-control" style="" type='input' id='dateTime_add' onchange="" value=''/ disabled></td>
												<td><input class="form-control" style="" type='input' id='machine_no_add' onchange="" value=''/ disabled></td>
												<td><input class="form-control" style="" type='input' id='op_width_1_add' onchange="" value=''/></td>
												<td><input class="form-control" style="" type='input' id='op_width_2_add' onchange="" value=''/></td>
												<td><input class="form-control" style="" type='input' id='qty_add' onchange="" value=''/></td>
												<td><input class="form-control" style="" type='input' id='unit_add' onchange="" value=''/></td>
												<td><input class="form-control" style="" type='input' id='manufacturing_qty_add' onchange="" value=''/></td>
												<td><input class="form-control" style="" type='input' id='etc_add' onchange="" value=''/></td>
												<td style = 'text-align: center;'><button class="btn-primary form-control" onclick='examination_add_save()'>추가</button></td>
											</tr>
		`)
	}
	
	var examination_add_save_count = 0;
	function examination_add_save(){
		    
		if(examination_add_save_count == 0){
			examination_add_save_count = 1;
			let submit_args = '';
			submit_args += commonFunc.makeArgs("work_date_add", $(`#work_date_add`).val());
			submit_args += commonFunc.makeArgs("client_add", $(`#client_add`).val());
			submit_args += commonFunc.makeArgs("s_and_l_add", $(`#s_and_l_add`).val());
			submit_args += commonFunc.makeArgs("item_add", $(`#item_add`).val());
			submit_args += commonFunc.makeArgs("color_add", $(`#color_add`).val());
			submit_args += commonFunc.makeArgs("dateTime_add", $(`#dateTime_add`).val());
			submit_args += commonFunc.makeArgs("machine_no_add", $(`#machine_no_add`).val());
			submit_args += commonFunc.makeArgs("op_width_1_add", $(`#op_width_1_add`).val());
			submit_args += commonFunc.makeArgs("op_width_2_add", $(`#op_width_2_add`).val());
			submit_args += commonFunc.makeArgs("qty_add", $(`#qty_add`).val());
			submit_args += commonFunc.makeArgs("unit_add", $(`#unit_add`).val());
			submit_args += commonFunc.makeArgs("manufacturing_qty_add", $(`#manufacturing_qty_add`).val());
			submit_args += commonFunc.makeArgs("etc_add", $(`#etc_add`).val());
			const ret = commonFunc.postArgs("/examination_add_save", submit_args);
			if(ret == 'y'){
				alert('등록 완료');
				examination_add_save_count == 0;
				location.href='/examination_log';
			}
			
			
		}
		
		
		
		
	}
	function selectNum(){
		
		var langSelect = document.getElementById('work_op_item');
		// select element에서 선택된 option의 value가 저장된다.
		var selectValue = langSelect.options[langSelect.selectedIndex].value;
		let submit_args = '';
			submit_args += commonFunc.makeArgs("item", selectValue);
			const ret = commonFunc.postArgs("/selectNum", submit_args);
		document.getElementById('work_op_color').innerHTML=""
		for(var i = 0; i<ret.length; i++){
			$('#work_op_color').append(`
				<option value="${ret[i].color}">${ret[i].color}</option>
			`)
			
		}
		
	}
	
	document.getElementById('examination_log').style.background='khaki';
</script>