<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>윈럭스</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<!--J 쿼리 사용 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">윈럭스</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Pages Collapse Menu -->
            <%-include('./siderbar.ejs')%>

           
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>




                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3" style="display: flex;">
							<h6 class="m-0 font-weight-bold text-primary">출하 관리</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th style = "width : 5%">no</th>
											<th style = "width : 10%">제품코드</th>
                                            <th>품명</th>
											<th>컬러</th>
                                            <th>수량</th>
											<th></th>
											
                                        </tr>
                                    </thead>
                                    <tbody>
										<%for(var i = 0; i<row.length;i++){%>
											<tr>
											<td><%=i+1%></td>
											<td><%=row[i].code%></td>
											<td><%=row[i].item%></td>
											<td><%=row[i].color%></td>
											<td><%=row[i].o_qty%></td>
											<td class = "td-center"><button type = "button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#addModal" style="background-color: #17a673;" onclick="ship_add(<%=row[i].code%>)">출하</button></td>											
										</tr>
										<%}%>
										
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

			<div class="modal fade" id="addModal" data-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div id="model_view_10">

				  <div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-pencil-square-o"></i>출하 정보</h4>
				  </div>

				  <div class="modal-body">
					<div class="box-body">

					  <div class="">
						<div class="col-xs-12">
						  <div class="box">

							<input type="hidden" name="ano" id="ano" value="778">
							<input type="hidden" name="company" id="company" value="part1_업체">
					 

							<table class="table tb-list table-bordered">
							  <tbody>
								<tr>
								  <th style = "width : 20%">제품코드</th>
						 		  <th style = "width : 30%">
								  <input type="text" class = "form-control" id = "code" disabled>
								  </th>
								  <th class = "width : 25%">품명</th>
								  <th style = "width : 25%">
								  <input type="text" class = "form-control" id = "item" disabled>
								  </th>
								</tr>
							    <tr>
									<th class = "">재고</th>
								  <th>
								  <input type="text" class = "form-control"  id = "o_qty" disabled>
								  </th>
								  <th class = "">컬러</th>
								  <th>
								  <input type="text" class = "form-control"  id = "color" disabled>
								  </th>
									
								</tr>
								  <tr> 
								  <th class = "">출하 수량</th>
								  <th>
								  <input type="text" class = "form-control"  id = "shipment_qty">
								  </th>
								  <th class = "">거래처명</th>
								  <th>
									  <select onchange="selectNum()" class="form-control" id ="client_name">
										<option value="" selected disabled></option> 
										 <%for(var j = 0; j<customer.length; j++){ %>
											<option value="<%=customer[j].client_name%>"><%=customer[j].client_name%></option>
										 <%}%>																 
									  </select>
								  </th>
									
								</tr>
								  
								  <tr> 
									  
									   <th class = "">출하 날짜</th>
								  <th>
								  <input class="form-control"  type='date' id='shipment_date' onchange="" value=''/>
								  </th>
								 
									<th class = "">주소</th>
								  <th>
								  <input type="text" class = "form-control"  id = "address" disabled>
								  </th>
								</tr>
								  
								  <tr> 
								  <th class = "">담당자</th>
								  <th>
								  <input type="text" class = "form-control"  id = "ceo" disabled>
								  </th>
									<th class = "">전화번호</th>
								  <th>
								  <input type="text" class = "form-control"  id = "phone_number" disabled>
								  </th>
								</tr>
								  
								  
								
							  </tbody>
							</table>

							<div class="box-footer text-center">
							  <button type="button" class="btn btn-sm btn-primary btn-add-ncr" style="background-color: #2e59d9;" data-ano="" onclick= 'pop_add()'>등록</button>
							    <button class="btn btn-sm btn-default btn-danger modal_close_btn" style="background-color: #e74a3b;"type="button" data-dismiss="modal">닫기</button>
								
							</div>


						  </div>
						</div>
					  </div>

					</div>

				  </div>

				</div>
            </div>
        </div>
   		</div>
			
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
	<script src="/js/main_contents.js"></script>
</body>

</html>


<script>

	
	function ship_add(code) {
		let submit_args = '';
			submit_args += commonFunc.makeArgs("code", code);
			const ret = commonFunc.postArgs("/ship_add_select", submit_args);
			$('#item').attr('value',ret[0].item);
			$('#color').attr('value',ret[0].color);
			$('#o_qty').attr('value',ret[0].o_qty);
			$('#code').attr('value',ret[0].code);
	}
	
		function selectNum(){
		
		var langSelect = document.getElementById("client_name");
		// select element에서 선택된 option의 value가 저장된다.
		var selectValue = langSelect.options[langSelect.selectedIndex].value;
		let submit_args = '';
			submit_args += commonFunc.makeArgs("client_name", selectValue);
			const ret = commonFunc.postArgs("/client_name_post", submit_args);
			$('#address').attr('value',ret[0].address);
			$('#ceo').attr('value',ret[0].ceo);
			$('#phone_number').attr('value',ret[0].phone_number);
	}
	
	
	function pop_add() {		
		let submit_args = '';
		submit_args += commonFunc.makeArgs("code", $("#code").val());
		submit_args += commonFunc.makeArgs("item", $("#item").val());
		submit_args += commonFunc.makeArgs("o_qty", $("#o_qty").val());
		submit_args += commonFunc.makeArgs("shipment_qty", $("#shipment_qty").val());
		submit_args += commonFunc.makeArgs("color", $("#color").val());
		submit_args += commonFunc.makeArgs("client_name", $("#client_name").val());
		submit_args += commonFunc.makeArgs("ceo", $("#ceo").val());
		submit_args += commonFunc.makeArgs("phone_number", $("#phone_number").val());
		submit_args += commonFunc.makeArgs("address", $("#address").val());
		submit_args += commonFunc.makeArgs("shipment_date", $("#shipment_date").val());
		const ret = commonFunc.postArgs("/shipment_add", submit_args);
		if(ret == 'y'){
			alert('등록이 완료 되었습니다.');
			location.href='/shipment_manag';
		}
		
		if(ret == '수량이 부족합니다.'){
			alert('수량이 부족합니다.');
		}
		
	}
	
	
	document.getElementById('shipment_manag').style.background='khaki';
</script>