<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%-include('../include/title.ejs')%>
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
	<!--J 쿼리 사용 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
	
<style>
    #my_modal {
        display: none;
        width: 600px;
        padding: 20px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_close_btn {
        top: 10px;
        right: 10px;
    }
	/* Global CSS */


	fieldset {
	  border: none;
	  display: flex;
	  flex-direction: column;
	  gap: 0.5rem;
	}

</style>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <%-include('../include/brand.ejs')%>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
			<!-- 위즈윅 메뉴 -->
			
			 <%-include('../include/siderbar.ejs')%>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               <%-include('../include/topbar.ejs')%>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">작업요청</h1>
                    <!-- <p class="mb-4"> <a target="_blank"
                            href="https://datatables.net"></a></p> -->

                    <!-- DataTales Example -->
               		<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">작업요청</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>										
                                        <tr>
											<!-- <th style = "width:3%"><input type="checkbox"></th>	 -->
                                            <th style="width:3%;">No</th>
                                            <th style="width:8%;">수주번호</th>
											<!-- <th style="width:3%;">작업번호</th> -->
                                            <th style="width:6%;">요청완료일자</th>
                                            <th style="width:8%;">품목명</th>
											<th style="width:4%;">요청수량</th>			
											<th style="width:6%;">작업시작일자</th>
											<th style="width:6%;">작업완료일자</th>                                                                      													
											<th style="width:5%;">작업지시내용</th>																
											<th style="width:5%;">상태</th>
											<th style="width:4.5%;">작업시작</th>
											<th style="width:4.5%;">작업종료</th>
											<th style="width:3%;">취소</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% for(var i = 0; i<rows.length; i++){ %>
                                        <tr>
											<td class = "td-center"><%=i+1%></td>
											<td class = "td-center"><%=rows[i].order_key%></td>
											<!-- <td></td> -->
											<td class = "td-center"><%=rows[i].request_time%></td>
											<td class = "td-center"><%=rows[i].item%></td>
											<td class = "td-center"><%=rows[i].qty%></td>		
											<td class = "td-center"><%=rows[i].start_time%></td>
											<td class = "td-center"><%=rows[i].end_time%></td>											
											<td class = "td-center"><%=rows[i].work_content%></td>		
											<!-- <td class = "td-center"><%=rows[i].order_qty - rows[i].qty%></td>						 -->
											
											<% if (rows[i].state== 2 ) { %>												
												<td class = "td-center">작업대기</td>
												<td class = "td-center"><button type = "button" class="btn btn-sm btn-success" onclick="Fn_run('<%=rows[i].order_key%>','<%=rows[i].work_key%>')">작업시작</button></td>
												<td class = "td-center"><button type = "button" class="btn btn-sm btn-success" style = "background-color: #D3D3D3;border-color: #D3D3D3;"disabled>작업종료</button></td>
											    <td class = "td-center"><button type = "button" class="btn btn-sm btn-danger" onclick="Fn_cancel(<%=rows[i].no%>,<%=rows[i].order_key%>)" style = "background-color: #D3D3D3;border-color: #D3D3D3;">취소</button></td> 
											<% } %>
											<%  if (rows[i].state== 3 ) { %>												
												<td class = "td-center">작업중</td>
												<td class = "td-center"><button type = "button" class="btn btn-sm btn-success"  style = "background-color: #D3D3D3;border-color: #D3D3D3;"disabled>작업시작</button></td>
												<td class = "td-center"><button type = "button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#stopModal" onclick="stop_select(<%=rows[i].no%>,'<%=rows[i].order_key%>')">작업종료</button></td>
												<td class = "td-center"><button type = "button" class="btn btn-sm btn-danger" onclick="Fn_cancel(<%=rows[i].no%>,<%=rows[i].order_key%>)" style = "background-color: #D3D3D3;border-color: #D3D3D3;" disabled>취소</button></td> 
											<% } %>
											<% if (rows[i].state== 4 ) { %>	
												<td class = "td-center">작업완료</td>
												<td class = "td-center"><button type = "button" class="btn btn-sm btn-success" style = "background-color: #D3D3D3;border-color: #D3D3D3;" disabled>작업시작</button></td>
												<td class = "td-center"><button type = "button" class="btn btn-sm btn-success" style = "background-color: #D3D3D3;border-color: #D3D3D3;" disabled>작업종료</button></td>
												<td class = "td-center"><button type = "button" class="btn btn-sm btn-danger" onclick="Fn_cancel(<%=rows[i].no%>,'<%=rows[i].order_key%>',<%=rows[i].state%>)">취소</button></td>
											<% } %>
										</tr>
										<% } %>                                                                         
                                    </tbody>
                                </table>								
                            
							</div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
	
		<!-- stop 버튼 모달 시작-->
	    <div class="modal fade" id="stopModal" data-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div id="model_view_10">

				  <div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-pencil-square-o"></i>작업요청 입력</h4>
				  </div>

				  <div class="modal-body">
					<div class="box-body">

					  <div class="">
						<div class="col-xs-12">
						  <div class="box">

							<input type="hidden" name="ano" id="ano" value="778">
							<input type="hidden" name="company" id="company" value="part1_업체">
					 

							<table class="table tb-list table-bordered">
							    <tbody>
								<tr>
								  <th style = "width : 20%">수주번호</th>
						 		  <th style = "width : 30%">
								  <input type="text" class = "form-control" id = "stop_order_key" disabled>
								  </th>
								</tr>
								<tr>
								  <th class = "width : 25%">품목명</th>
								  <th style = "width : 25%">
								  <input type="text" class = "form-control" id = "stop_item" disabled>
								  </th>
								</tr>
								 <tr>								  
								  <th class = "">요청 내용</th>
								  <th>
								  <input type="text" class = "form-control" id = "stop_order_content" disabled>
								  </th>	
								</tr>
								<tr>
								  <th class = "">요청수량 </th>
								  <th>
								  <input type="text" class = "form-control"  id = "stop_order_qty" disabled>
								  </th>
								</tr>								
								<tr>
								  <th class = "">작업수량</th>
								  <th>
								  <input type="text" class = "form-control"  id = "stop_order_qty2" disabled>
								  <input type="hidden" class = "form-control"  id = "stop_no">
								  <input type="hidden" class = "form-control"  id = "stop_qty">
								  <input type="hidden" class = "form-control"  id = "stop_request_time">									  
								  <input type="hidden" class = "form-control"  id = "stop_work_key">					  
								  </th>
								</tr>	
								<tr>
								  <th class = "">작업내용</th>
								  <th>
								  <input type="text" class = "form-control"  id = "work_coment">
								  </th>
								</tr>	
								
							  </tbody>
							</table>

							<div class="box-footer text-center">
							  <button type="button" class="btn btn-sm btn-primary btn-add-ncr" data-ano="" onclick= 'Fn_stop()'>작업완료</button>
							  <button class="btn btn-sm btn-default btn-danger modal_close_btn" type="button" data-dismiss="modal">닫기</button>								
							</div>
						</div>
						</div>
					  </div>

					</div>

				  </div>

				</div>
            </div>
        </div>
   		</div>
	<!-- stop 버튼 모달 끝-->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
		
	
	<script src="js/main_contents.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
	<!-- <script src="js/scripts.js"></script> -->
</body>

</html>


<script>	
	var count = 0;		
	var column_name = [];
	
	$("#column_add").on("click", function() {
		if(count > 8){
			alert('list 갯수는 최대 10개를 초과할 수 없습니다.');
		} else {
			count ++;
			$( ".column_list" ).append( `
				<input type="text" class="form-control valid" name="column_name_${count}" id="column_name_${count}" values = "">
			`);
		}
    });
	
	$("#column_del").on("click", function() {
		$("#column_list").remove();
    });
	
	$('#column_last_add').click(function(){
		count++;
		for(var i=0; i<count; i++){
			column_name[i] = $(`#column_name_${i}`).val();
		}
		 let submit_args = '';
		submit_args += commonFunc.makeArgs("grid_name", $("#grid_name").val());
		submit_args += commonFunc.makeArgs("column_name", column_name);
		const ret = commonFunc.postArgs("/column_last_add", submit_args);
		
		alert('메뉴 생성이 완료 되었습니다.');
		location.href='/';
	});
	
	function menu_delect(no) {
		 let submit_args = '';
		submit_args += commonFunc.makeArgs("no", no);
		const ret = commonFunc.postArgs("/menu_delect", submit_args);
		if(ret == 'y'){
			alert('메뉴 삭제가 완료 되었습니다.');
			location.href='/';
		}
	}
	
	
function modal(id) {
    var zIndex = 9999;
    var modal = document.getElementById(id);

    // 모달 div 뒤에 희끄무레한 레이어
    var bg = document.createElement('div');
    bg.setStyle({
        position: 'fixed',
        zIndex: zIndex,
        left: '0px',
        top: '0px',
        width: '100%',
        height: '100%',
        overflow: 'auto',
        // 레이어 색갈은 여기서 바꾸면 됨
        backgroundColor: 'rgba(0,0,0,0.4)'
    });
    document.body.append(bg);

    // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
    modal.querySelector('.modal_close_btn').addEventListener('click', function() {
        bg.remove();
        modal.style.display = 'none';
    });

    modal.setStyle({
        position: 'fixed',
        display: 'block',
        boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

        // 시꺼먼 레이어 보다 한칸 위에 보이기
        zIndex: zIndex + 1,

        // div center 정렬
        top: '50%',
        left: '50%',
        transform: 'translate(-50%, -50%)',
        msTransform: 'translate(-50%, -50%)',
        webkitTransform: 'translate(-50%, -50%)'
    });
}

// Element 에 style 한번에 오브젝트로 설정하는 함수 추가
Element.prototype.setStyle = function(styles) {
    for (var k in styles) this.style[k] = styles[k];
    return this;
};

// document.getElementById('popup_open_btn').addEventListener('click', function() {
//     // 모달창 띄우기
//     modal('my_modal');
// });	
	
	// 작업시작 버튼 클릭 시
	function Fn_run(order_key,work_key) {		
		var result = confirm("작업을 시작 하시겠습니까?");		
				
		if(result){		
			let submit_args2 = '';			
			submit_args2 += commonFunc.makeArgs("button", "run");			
			submit_args2 += commonFunc.makeArgs("order_key", order_key);	
			submit_args2 += commonFunc.makeArgs("work_key", work_key);	
			const ret = commonFunc.postArgs("/work_status_button", submit_args2);
				// $('#update_name').attr('value',ret[0].name);
				// $('#update_employee_code').attr('value',ret[0].employee_code);
				// $('#update_department').attr('value',ret[0].department);	
			location.href='/work_status';	
		}else{
			
		}
	
	}
	
	// 작업종료 버튼 클릭 시 데이터 조회
	function stop_select(no,order_key) {
		all_no = no;		
		let submit_args = '';
			submit_args += commonFunc.makeArgs("no", no);
			submit_args += commonFunc.makeArgs("order_key", order_key);
			const ret = commonFunc.postArgs("/work_status_stop_select", submit_args);
		
		// console.log(ret.row2[0].work_key)
		// console.log(ret.row1[0].order_key)
		
			$('#stop_order_key').attr('value',ret[0].order_key);
			$('#stop_item').attr('value',ret[0].item);
			$('#stop_order_content').attr('value',ret[0].work_content);	
			$('#stop_order_qty').attr('value',ret[0].qty);	
			$('#stop_order_qty2').attr('value',ret[0].qty);	
	}	
		
	// 작업종료 버튼 > 저장 클릭 시
	function Fn_stop() {
		var result = confirm("저장 하시겠습니까?");		
		
		if(result){
			let order_key = document.getElementById("stop_order_key").value;
			let input_qty = document.getElementById("stop_order_qty2").value;
			let submit_args = '';			
			submit_args += commonFunc.makeArgs("button", "stop");
			submit_args += commonFunc.makeArgs("input_qty", input_qty);
			submit_args += commonFunc.makeArgs("order_key", order_key);
			submit_args += commonFunc.makeArgs("work_coment", $("#work_coment").val());
			const ret = commonFunc.postArgs("/work_status_button", submit_args);
			location.href='/work_status';
	
		}else{
			
		}
	}
	
	// 작업취소버튼 클릭 시
	function Fn_cancel(no,order_key,state) {
		var result = confirm("수주번호 : " + order_key + " 작업내역을 취소하시겠습니까?");
		if(result){
			if(state==4){
				let submit_args = '';
				submit_args += commonFunc.makeArgs("no", no);
				submit_args += commonFunc.makeArgs("order_key", order_key);
				submit_args += commonFunc.makeArgs("button", "cancel");
				const ret = commonFunc.postArgs("/work_status_button", submit_args);
				location.href='/work_status';
			}else{
				alert("품질검사 진행중으로 취소할 수 없습니다.");
			}						
		}else{			
		}
		
	}	


// Element 에 style 한번에 오브젝트로 설정하는 함수 추가
Element.prototype.setStyle = function(styles) {
    for (var k in styles) this.style[k] = styles[k];
    return this;
};

// 클래스 이름 설정/변경
$('#button_6').click(function(){
	
	if(document.getElementById('button_6').classList == 'btn btn-sm btn-primary-off btn-add-ncr')
	{
	  	document.getElementById('button_6').className = 'btn btn-sm btn-primary btn-add-ncr';
		document.getElementById('button_7').className = 'btn btn-sm btn-primary-off btn-add-ncr';
		process = $(this).val();
		console.log(process)
		$('#defective_process').append(`<tr id = "defective_list_addition">
								  		<th class = "width : 25%">불량 내용</th>
								  		<th colspan="3" style = "width : 25%">
								  		<input type="text" class = "form-control" id = "update_order_content">
								 		</th>
										</tr>
									   `)
	 } else{
		 document.getElementById('button_6').className = 'btn btn-sm btn-primary-off btn-add-ncr';
		 var str = $(this).val();
		 process = process.replace(str, '')
		 console.log(process)
		 $('#defective_list_addition').remove() 
	 }
})
	
	$('#button_7').click(function(){
	if(document.getElementById('button_7').classList == 'btn btn-sm btn-primary-off btn-add-ncr')
	{
		document.getElementById('button_6').className = 'btn btn-sm btn-primary-off btn-add-ncr';
	  	document.getElementById('button_7').className = 'btn btn-sm btn-primary btn-add-ncr';
		process = $(this).val();
		console.log(process)
		$('#defective_list_addition').remove() 
	 } else{
		 document.getElementById('button_7').className = 'btn btn-sm btn-primary-off btn-add-ncr';
		 var str = $(this).val();
		 process = process.replace(str, '')
		 console.log(process)
	 }
})
	
document.getElementById('work_status').style.background='khaki';
</script>