<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%-include('../include/title.ejs')%>
    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">
	<link href="../css/main_contents.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/kaqg.css" />
	<!--J 쿼리 사용 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom styles for this page -->
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
	
<style>
    #my_modal {
        display: none;
        width: 600px;
        padding: 20px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_close_btn {
        top: 10px;
        right: 10px;
    }
</style>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <%-include('../include/brand.ejs')%>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
			<!-- 위즈윅 메뉴 -->
			
			 <%-include('../include/siderbar.ejs')%>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
				<%-include('../include/topbar.ejs')%> 

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">게시판 상세보기</h1>                
                    <!-- DataTales Example -->
               <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <!-- <h6 class="m-0 font-weight-bold text-primary">게시판</h6> -->
                        </div>					
					<div class="">
					<div class="">	
							
                    <section class="">
                        <div class=""> 
                        <!-- view -->
                        <div class="board_view">
                            <table>
                                <caption>board view</caption>
                                <colgroup>
                                    <col width="20%">
                                    <col width="*">
                                </colgroup>
								<% for(var i = 0; i<row.length; i++){ %>
                                    <thead>
                                        <tr>
                                            <th>제 목</th>
                                            <td><%=row[i].subject%></td>
                                        </tr>
                                        <tr>
                                            <th>글쓴이</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>날 짜</th>
                                            <td><%=row[i].submit_time%></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="board_con" colspan="2">
                                                <%-row[i].content%>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <% } %>

                            </table>
							
							<!-- board_footer -->
                        <div class="board_footer">
                            <div class="board_btn">
                                <!--
              <div class="f_l">
                          <a href="/sub/sub0401.php?page=1&amp;viewMode=view&amp;idx=447" class="btn">이전</a>
                                    <a href="/sub/sub0401.php?page=1&amp;viewMode=view&amp;idx=447" class="btn">다음</a>
                        </div>
            -->
                                
                                    <!--
                <a href="/sub/board_write.php" class="btn btn_active_in">수정</a>
                -->
                                    
                                
                            </div>
                        </div>
                        <!-- // board_footer -->
                        </div>
                        


                    </div>
                </section>
							
							
							
							<!-- <table class="table table-bordered" id="" width="100%" cellspacing="0">
								<thead>
									<tr>											
										<th style="width:7%;">No</th>
										<th>제목</th>											
										<th>작성자</th>
										<th>등록일</th>                                            																						                                            											
									</tr>
								</thead>
								<tbody>
									<% for(var i = 0; i<row.length; i++){ %>
									<tr>											
										<td class = "td-center"><%=i+1%></td>
										<td class = "td-center">												
											<%=row[i].subject%>
										</td>											
										<td><%=row[i].username%></td>											
										<td><%=row[i].submit_time%></td>											 																															 											
									</tr>
									<% } %>
								</tbody>
							</table>								 -->
							<div style = "display: flex; justify-content : center; padding-top : 30px; padding-bottom : 30px;">
								<button type = "button" class="btn btn-secondary " onclick="board_list()">목록</button>&nbsp;&nbsp;									
							</div>
							
						</div>
					</div>
				</div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
	
	<script src="../js/main_contents.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../js/demo/datatables-demo.js"></script>
	
</body>

</html>


<script>
	function board_list(){		
		window.location.href = '/board'
	}
	
</script>