<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%-include('../include/title.ejs')%>
    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">
	<!--J 쿼리 사용 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom styles for this page -->
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
	
<style>
    #my_modal {
        display: none;
        width: 600px;
        padding: 20px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_close_btn {
        top: 10px;
        right: 10px;
    }
</style>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <%-include('../include/brand.ejs')%>
            </a>
			
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
			<!-- 위즈윅 메뉴 -->
			
			 <%-include('../include/siderbar.ejs')%>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               <%-include('../include/topbar.ejs')%>

                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">품목별 자재현황</h1>
                    

                    <!-- DataTales Example -->
               		<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">품목별 자재현황 (※해당 row 클릭 시 상세보기)</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
								<form action="/material_dg_delete" name="list_form" id="list_form" method="post">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>										
                                        <tr>											
											<th>No</th>
                                            <th>자재명</th>
											<th>구분</th>
											<th>재고</th>
                                            <th>재질</th>
                                            <th>두께</th>
											<th>가로</th>
											<th>세로</th>
											<th>직경</th>
											<th>길이</th>											
											<th>비고</th>
											<th>등록일</th>											
                                        </tr>
                                    </thead>
                         
                                    <tbody>
										<% for(var i = 0; i<row.length; i++){ %>
										<% if(row[i].name==row2){%>
											<tr style="background:#ADFF2F;" onclick = "detail('<%=row[i].name%>')">													
										<% }else{%>											
											<tr onclick = "detail('<%=row[i].name%>')">													
										<% } %>
											<td class = "td-center"><%=i+1%></td>
											<td class = "td-center"><%=row[i].name%></td>
											<td class = "td-center"><%=row[i].sortation%></td>
											<td class = "td-center" style="font-weight:bold;"><%=row[i].qty%></td>
											<td class = "td-center"><%=row[i].material%></td>
											<td class = "td-center"><%=row[i].thickness%></td>
											<td class = "td-center"><%=row[i].width%></td>
											<td class = "td-center"><%=row[i].height%></td>
											<td class = "td-center"><%=row[i].diameter%></td>
											<td class = "td-center"><%=row[i].length%></td>											
											<td class = "td-center"><%=row[i].etc%></td>
											<td class = "td-center"><%=row[i].UpdateTime%></td>											
										</tr>
										<% } %>
                                    </tbody>
                                </table>
									<div style = "float : right; padding-top : 10px">
								
								</div>
								 </form>
								
                            
							</div>
                        </div>
                    </div>
				</div>
                    <!-- DataTales Example -->
                <!-- /.container-fluid -->
				 <div class="container-fluid">
                    <!-- DataTales Example -->
               		<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">품목별 입/출고현황</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                    <thead>										
                                        <tr>											
											<th>No</th>
                                            <th>자재명</th>
											<th>구분</th>
                                            <th>수량</th>
											<th>내용</th>
                                            <th>등록일</th>																						
                                        </tr>
                                    </thead>
										<% for(var i = 0; i<rows.length; i++){ %>
                                        <tr>
											<td class = "td-center"><%=i+1%></td>
											<td class = "td-center"><%=rows[i].name%></td>
											<%if(rows[i].state==1) {%>
												<td class = "td-center" style="color:blue;">입고</td>
											<%}%>
											<%if(rows[i].state==2) {%>
												<td class = "td-center" style="color:red;">출고</td>
											<%}%>
											<td class = "td-center"><%=rows[i].qty%></td>
											<td class = "td-center"><%=rows[i].coment%></td>
											<td class = "td-center"><%=rows[i].UpdateTime%></td>											
										</tr>
										<% } %>                         				
                                    <tbody>
										
                                    </tbody>
                                </table>
                            
							</div>
                        </div>
                	</div>

         
            <!-- End of Main Content -->        

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
		

	<!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
	


	
	
		
	
	<script src="../js/main_contents.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../js/demo/datatables-demo.js"></script>
	
</body>

</html>


<script>
	var all_no = '';
	
	function detail(name){					
		var langSelect = name; 		
		window.location.href=`/stock_con_detail/${langSelect}`
	}
	
	// function onclick() {
	// 	$('#client_name').attr('value','');
	// 	$('#business_number').attr('value','');
	// 	$('#ceo').attr('value','');
	// 	$('#phone_number').attr('value','');
	// 	$('#address').attr('value','');
	// }
	
	function pop_add() {
		if($("#name").val()==''){
			alert("자재명을 입력해주세요.")
		}else{	
			let submit_args = '';
			submit_args += commonFunc.makeArgs("name", $("#name").val());
			submit_args += commonFunc.makeArgs("sortation", $("#sortation").val());
			submit_args += commonFunc.makeArgs("material", $("#material").val());
			submit_args += commonFunc.makeArgs("thickness", $("#thickness").val());
			submit_args += commonFunc.makeArgs("width", $("#width").val());
			submit_args += commonFunc.makeArgs("height", $("#height").val());
			submit_args += commonFunc.makeArgs("diameter", $("#diameter").val());
			submit_args += commonFunc.makeArgs("length", $("#length").val());		
			submit_args += commonFunc.makeArgs("etc", $("#etc").val());
			const ret = commonFunc.postArgs("/material_dg_add", submit_args);
			if(ret == 'y'){
				alert('등록이 완료 되었습니다.');
				location.href='/stock_manage';
			}else if(ret=='n'){
				alert('중복된 자재명입니다.');
			}
		}
	}
	
	function update(no) {		
		let submit_args = '';
			submit_args += commonFunc.makeArgs("no", all_no);
			submit_args += commonFunc.makeArgs("name", $("#update_name").val());
			submit_args += commonFunc.makeArgs("sortation", $("#update_sortation").val());
			submit_args += commonFunc.makeArgs("material", $("#update_material").val());
			submit_args += commonFunc.makeArgs("thickness", $("#update_thickness").val());
			submit_args += commonFunc.makeArgs("width", $("#update_width").val());
			submit_args += commonFunc.makeArgs("height", $("#update_height").val());
			submit_args += commonFunc.makeArgs("diameter", $("#update_diameter").val());
			submit_args += commonFunc.makeArgs("length", $("#update_length").val());
			submit_args += commonFunc.makeArgs("reason", $("#update_reason").val());			
			submit_args += commonFunc.makeArgs("etc", $("#update_etc").val());
			const ret = commonFunc.postArgs("/material_dg_update", submit_args);
			if(ret == 'y'){
				alert('수정이 완료 되었습니다.');
				location.href='/stock_manage';
			}
	
	}
	
	
	function update_select(no) {
		all_no = no;
		let submit_args = '';
			submit_args += commonFunc.makeArgs("no", no);
			const ret = commonFunc.postArgs("/material_dg_update_select", submit_args);
			$('#update_name').attr('value',ret[0].name);
			$('#update_sortation').attr('value',ret[0].sortation);
			$('#update_material').attr('value',ret[0].material);
			$('#update_thickness').attr('value',ret[0].thickness);
			$('#update_width').attr('value',ret[0].width);
			$('#update_height').attr('value',ret[0].height);
			$('#update_diameter').attr('value',ret[0].diameter);
			$('#update_length').attr('value',ret[0].length);
			$('#update_reason').attr('value',ret[0].reason);
			$('#update_qty').attr('value',ret[0].qty);
			$('#update_UpdateTime').attr('value',ret[0].UpdateTime);
			$('#update_etc').attr('value',ret[0].etc);

	}
	
	var check_list = '';
	  $('#chAll').on('click', function() {
    if ($(this).prop('checked')) {
      $('.chList:visible').prop('checked', true);
    } else {
      $('.chList:visible').prop('checked', false);
    }
  })	
	
	function stock_manage_delete(){
		if (!confirm("삭제 하시겠습니까?")) {
			// 취소(아니오) 버튼 클릭 시 이벤트
		} else {			
				document.getElementById('list_form').submit();					
        	return false;
		}		
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
function modal(id) {
    var zIndex = 9999;
    var modal = document.getElementById(id);

    // 모달 div 뒤에 희끄무레한 레이어
    var bg = document.createElement('div');
    bg.setStyle({
        position: 'fixed',
        zIndex: zIndex,
        left: '0px',
        top: '0px',
        width: '100%',
        height: '100%',
        overflow: 'auto',
        // 레이어 색갈은 여기서 바꾸면 됨
        backgroundColor: 'rgba(0,0,0,0.4)'
    });
    document.body.append(bg);

    // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
    modal.querySelector('.modal_close_btn').addEventListener('click', function() {
        bg.remove();
        modal.style.display = 'none';
    });

    modal.setStyle({
        position: 'fixed',
        display: 'block',
        boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

        // 시꺼먼 레이어 보다 한칸 위에 보이기
        zIndex: zIndex + 1,

        // div center 정렬
        top: '50%',
        left: '50%',
        transform: 'translate(-50%, -50%)',
        msTransform: 'translate(-50%, -50%)',
        webkitTransform: 'translate(-50%, -50%)'
    });
}

// Element 에 style 한번에 오브젝트로 설정하는 함수 추가
Element.prototype.setStyle = function(styles) {
    for (var k in styles) this.style[k] = styles[k];
    return this;
};


	
document.getElementById('stock_con').style.background='khaki';
</script>